.messages {
    display: flex;
    flex-direction: column;
    
    button {
        line-height: 50px;
        font-size: 20px;
        font-weight: 600;
        font-family: monospace;
    }
}

h2 {
    text-decoration-line: underline;
}